DATABASE_URL=postgresql://coursenexus:coursenexus@db:5432/coursenexus
DB_DRIVER=pg
VITE_TELEGRAM_BOT_USERNAME=proverka1323bot
TELEGRAM_BOT_TOKEN=7812347116:AAGOjCTZkcc6yqjKtcn28XzCqlc5x-Irg0M
BUNNY_CDN_URL=https://vkurse.b-cdn.net
PUBLIC_OBJECT_SEARCH_PATHS=/dev-bucket/public
PRIVATE_OBJECT_DIR=/dev-bucket/private
BUNNY_STORAGE_ZONE=vkurseio
BUNNY_STORAGE_API_KEY=c3e7f0dc-106f-43d4-b97e1aaa4c3a-4673-499d
BUNNY_STORAGE_HOST=storage.bunnycdn.com
BUNNY_STORAGE_API_HOST=storage.bunnycdn.com
CDNNOW_KEY=CBVU0H85UQK9TPYE4NE3
CDNNOW_SECRET=u0dRbLygMOSaEDBi0JMpPRDAWB4tzfIpttvem89m
NOWCDN_BUCKET=vkurse
AUTH_BYPASS='true'