DATABASE_URL=
DB_DRIVER=
VITE_TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
PAY_TELEGRAM_BOT_TOKEN=
PAY_BOT_USERNAME=
CDNNOW_KEY=
CDNNOW_SECRET=
NOWCDN_BUCKET=
AUTH_BYPASS='true'
NIRVANA_GLOBAL_PRIVATE=
NIRVANA_GLOBAL_PUBLIC=
NIRVANA_KZ_PRIVATE=
NIRVANA_KZ_PUBLIC=
WEBHOOK_PORT=8443